.flatMenu {
	display : none !important;
}

.header {
	height : 15%;
}

.hamburgerMenu {
	padding: 0;
    height: 100%;
    padding-right: 2%;
}

.hamburgerButton {
	float: right;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding-right: 5%;
    padding-top: 3%;
}

.hamburgerButton img {
    height: 30px;
    width: 30px;
}

#menuNavbar {
	height : 100%;
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	background-color : #000000 !important;
	opacity:0.8;
	z-index:100;
	transition:all 1s ease-in;
	border:0px;
	min-height:0px;
}

.collapse {
	display:block !important;
	height:0;
	overflow-y:hidden;
}

.hamburgerMenuList {
	text-align:center;
	padding : 0;
	list-style: none;
	margin:0;
}

.menuOption {
	display : inline-block;
	text-align : center;
	height:auto;
	width:100%;
}

 .menuOptionText {
	display:inline;
}

.menuOptionText div {
	width: 100%;
}

.hamburgerMenu {
	text-align:center;
}

.workImage {
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.workImage img {
	width:100%;
}