@font-face {
	font-family: "fontKarlaRegular";
	src: url("../fonts/Karla-Regular.ttf");
}
  

body {
	font-family: "fontKarlaRegular";
	overflow-x: hidden;
}

.container-fluid {
	padding : 0;
}

.header {
	height : 18%;
	margin : 0;
}

.headerRemove {
	display: none;
}

.logoHolder {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.logo {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	cursor:pointer;
	border-radius: 0 !important;
}

.flatMenu {
	display : inline-block;
}

.hamburgerMenu {
	display : inline-block;
}

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.colLocation {
	padding-left : 7%;
}

.locationDetailRow {
	line-height:40px;
}

.workImage .after {
    position: absolute;
    top: 0;
	left: 0;
	right:0;
	bottom:0;
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: opacity 0.5s;
	display:inline-block;
	text-decoration: none;
}

.noPadding {
	padding :0;
	padding-right:0;
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
} 

.noMargin {
	margin :0;
	margin-right:0;
	margin-left:0;
	margin-top:0;
	margin-bottom:0;
}

textarea {
	resize: none;
	background: #f3f3f3;
	border: none;
	width: 100%;
	color:black;
}

input {
	background: #f3f3f3;
	border: none;
	width: 100%;
	color:black;
	height:30px;
}

button {
	background: #000000;
    color: #ffffff;
	border: none;
	height:30px;
    width: 35%;
}

.portfolioDetailImageHolder {
	display:none;
}

.portfolioDetailImageHolderSelected {
	display:block;
}

.closeButton img {
	float: right;
    margin-right: 45px;
    height: 20px;
	width: 20px;
	cursor:pointer;
	margin-top:30px;
	pointer-events: all;
}

.centerAlignImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.closeButton {
	padding-right: 10px;
	padding-top:5px;
	height:100%;
}

::placeholder {
	color: #cacaca;
	padding-left:15px;
}

.connectContent {
	text-align: center;
}

.connectFormText {
	text-align:left;
}

.connectIconHolder img {
	width:16px;
}

.portfolioDetailHeader {
	height : 15%;
}

#portfolioDetailDisplayValue {
	padding-top:30px;
	font-size:21px;
	padding-left:45px;
}

.connectFollow {
	text-align: left;
}

.portfolioDetailText {
	margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

img {
	pointer-events: none;
}