.hamburgerMenu {
	display : none;
}

#menuNavbar {
	display : none !important;
}

.menuOption {
	display:table;
	text-align:center;
	height:60%;
	padding : 0;
	border-radius: 0 !important;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #000000;
	cursor:pointer;
	font-size:15px;
	border-radius: 0 !important;
}

.menuOptionText:hover {
	color : #000000;
	text-decoration: line-through;
}

.menuOptionTextSelected {
	color : #000000;
	text-decoration: line-through;
}

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}

.menuOptionText div {
  position: relative;
  height: 35px;
  width: 80%;
}

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.workImage {
	height : 70%;
	padding: 0;
	margin: 0;
	cursor : pointer;
}

.workImage img {
	height:100%;
	width:100%;
}

.workImage:hover .after {
	opacity : 1;
    background: rgba(0, 0, 0, .8);
}

.portfolioInfo {
    display: block;
    font-size: 22px;
    color: white;
	text-align: center;
	font-family: "fontKarlaRegular";
	font-weight:normal;
	position: relative;
	top:45%;
	width:100%;
}

.portfolioInfo span {
	font-size:14px;
}

.aboutMeContent {
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
}

.aboutMeImageHolder {
	padding-right:0;
	padding-left:0;
}

.aboutMeImageHolder img {
	width : 100%;
}

.connectImageHolder {
	padding-right:0;
	padding-left :0;
}

.connectImageHolder img {
	width : 100%;
}

.connectText {
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
	font-size: 16px;
}

.connectContentRow {
	margin-top : 20px;
	margin-bottom : 20px;
}

.formField {
	margin-top : 8px;
	margin-bottom : 8px;
}

.headerSocialMedia {
	text-align:right;
}

.headerSocialMedia span {
	cursor: pointer;
}

.headerSocialMedia span img {
	margin-top:20px;
	margin-right:5px;
	margin-left:5px;
	height:15px;
	width:15px;
}

.aboutMeHolder {
	margin-top:40px;
	margin-bottom:20px;
}