/* .flatMenu {
	display : none !important;
} */

.header {
	height : auto;
}

.hamburgerMenu {
	padding: 0;
    height: 100%;
	padding-right: 2%;
	display:none !important;
}

.hamburgerButton {
	float: right;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding-right: 5%;
    padding-top: 3%;
}

.hamburgerButton img {
    height: 30px;
    width: 30px;
}

/* #menuNavbar {
	height : 100%;
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	background-color : #000000 !important;
	opacity:0.8;
	z-index:100;
	transition:all 1s ease-in;
	border:0px;
	min-height:0px;
} */

/* .collapse {
	display:block !important;
	height:0;
	overflow-y:hidden;
} */

.logoHolder {
    height: 10%;
}

.hamburgerMenuList {
	text-align:center;
	padding : 0;
	list-style: none;
	margin:0;
}

.menuOption {
	display : table;
	text-align : center;
	height:auto;
	/*width:100%;*/
}

 .menuOptionText {
	display:table-cell;
}

.menuOptionText div {
	width: 100%;
}

.hamburgerMenu {
	text-align:center;
	display:none;
}

.workImage {
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.workImage img {
	width:100%;
}

.workImage .after {
	opacity:0;
}

#menuNavbar {
    display: none;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #000000;
	cursor:pointer;
	font-size:15px;
	border-radius: 0 !important;
}

.menuOptionTextSelected {
	color : #000000 !important;
	text-decoration: line-through !important;
}

.connectImageHolder img {
	width:100%;
}

.aboutMeImageHolder img {
	width:100%;
}

.aboutMeContent {
    text-align: center;
    padding-top: 5px;
}

.headerSocialMedia {
	display:none;
}