.hamburgerMenu {
	display : none;
}

#menuNavbar {
	display : none !important;
}

.menuOption {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #000000;
	cursor:pointer;
	font-size:15px;
	border-radius: 0 !important;
}

.menuOptionText:hover {
	color : #000000;
	text-decoration: line-through;
}

.menuOptionTextSelected {
	color : #000000;
	text-decoration: line-through;
}

/* .menuOptionTextSelected div:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100% !important;
	content: '';
	color: transparent;
	background: #000000;
	height: 1px;
} */

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}

.menuOptionText div {
  position: relative;
  height: 35px;
  width: 80%;
}

/* .menuOptionText div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #000000;
  height: 1px;
}
.menuOptionText:hover div:after {
  width: 100%;
  color : #000000;
} */

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.workImage {
	height : 70%;
	padding: 0;
	margin: 0;
}

.workImage img {
	height:100%;
	width:100%;
}

.aboutMeContent {
	text-align: center;
}