@font-face {
	font-family: "fontKarlaRegular";
	src: url("../fonts/Karla-Regular.ttf");
}
  

body {
	font-family: "fontKarlaRegular";
	overflow-x: hidden;
}

.container-fluid {
	padding : 0;
}

.header {
	height : 18%;
	margin : 0;
}

.headerRemove {
	display: none;
}

.logoHolder {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.logo {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	cursor:pointer;
	border-radius: 0 !important;
}

.flatMenu {
	display : inline-block;
}

.hamburgerMenu {
	display : inline-block;
}

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.colLocation {
	padding-left : 7%;;
}

.locationDetailRow {
	line-height:40px;
}

.workImage .after {
    position: absolute;
    top: 0;
	left: 0;
	right:0;
	bottom:0;
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: opacity 0.5s;
	display:table;
	text-decoration: none;
}

.noPadding {
	padding :0;
} 

.noMargin {
	margin :0;
}

textarea {
	resize: none;
	background: lightgray;
	border: none;
	width: 100%;
}

input {
	background: lightgray;
	border: none;
	width: 100%;
}

button {
	background: black;
    color: white;
    border: none;
    width: 100%;
}

.portfolioDetailImageHolder {
	display:none;
}

.portfolioDetailImageHolderSelected {
	display:block;
}

.closeButton img {
	float: right;
    margin-right: 15px;
    height: 20px;
	width: 20px;
	cursor:pointer;
}

.centerAlignImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
}