.flatMenu {
	display : none;
}

.header {
	height : 15%;
}

.banner {
	height : 50%;
}

.hamburgerMenu {
	padding : 0;
	height: 100%;
    padding-right: 2%;
}

.hamburgerButton {
	float : right;
	background-color: transparent;
	border: 0px;
	font-size: 20px;
	transition:all 0.2s ease-in-out;
    padding-right: 5%;
    padding-top: 3%;
}

.hamburgerButton > span {
	color : #996a0e;
}

.hamburgerButton img {
	height:30px;
	width:30px;
}

.hideHamburgerButton {
	opacity : 0;
}

#menuNavbar {
	height : 100%;
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	background-color : #000000 !important;
	opacity:0.93;
	z-index:100;
	transition:all 0.6s ease-in;
	border:0px;
	min-height:0px;
}

.collapse {
	display:block !important;
	height:0;
	overflow-y:hidden;
}

.hamburgerMenuList {
	text-align:center;
	padding : 0;
	list-style: none;
	margin:0;
    min-height: 100%;
    padding-top: 30%;
}

.hamburgerMenuList li.nav-item {
	height: 12%;
}

.menuOption {
	display : inline-block;
	text-align : center;
	height:auto;
	width:100%;
}

.menuOptionText {
	display:inline;
	font-size:18px;
	color:#ffffff;
	font-family:"fontPoppinsLight";
}

.menuOptionText div {
	width: 100%;
}

.menuOptionTextSelected {
	color:#996a0e !important;
	text-decoration: none !important;
}

.contentColumn {
	width : 50%;
	height : 100%;
}

.column1 {
	left: 8%;
    top: 40%;
    text-align: center;
}

.column2 {
	top: 28%;
	width : 18%;
	display : none;
}

.column2 .contextText {
	text-align : left;
}

.column3 {
	left: 40%;
    top: 40%;
    text-align: center;
}

.column2 img {
	height: 41%;
}

.contentSmaller {
	font-size : 65px;
}

.flip-card {
	width: 100%;
}

.card-left {
	left : 0%;
}

.flip-card-inner {
	animation: flipBannerCard 18s infinite;
}

@keyframes flipBannerCard {
	0% {transform: rotateY(0deg);}
	10% {transform: rotateY(0deg);}
	30% {transform: rotateY(180deg);}
	60% {transform: rotateY(0deg);}
	80% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
}

.columnFooterInfo {
	text-align : center;
	padding: 2%;
    font-size: 14px;
}

.footerText img {
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.footerRow2 {
	padding-bottom:0;
}

.columnFooterMenu {
	padding: 0;
	text-align : center;
	font-size: 14px;
	margin-bottom: 2%;
}

.footerBand {
	font-size:9px;
}

.quoteImage {
	display : none;
}

.textRow {
	margin-top: 6%;
}

.titleContentHeader {
	margin-top:8%;
}

.titleContentBorder {
	margin-top:25%;
}

.quoteName ~ .row .titleContentBorder {
	margin-bottom : 25%;
}

.homeTadekamForYouBorder {
	margin-top:10%;
}

.backgroundJourneySoFarAboutTadekam {
	padding-bottom:5%;
	margin-top:5%;
}

.teamTadekamBackground {
	padding-bottom:6%;
}

.homeGurujiQuote {
    padding-bottom: 5%;
}

.backgroundHolderHomeOurFounder {
	padding-bottom: 5%;
}

.backgroundHomeTadekamForYou {
    padding-bottom: 5%;
}

.backgroundHomePrograms {
	padding-bottom: 5%;
}

.namePhoto {
	width: 100%;
	margin-top:15%;
}

.homeProgramsImageHolder {
    padding: 0;
}

.homeTadekamForYouTextRow ul li {
    font-size: 15px;
}

.programHolder {
    padding: 0;
    margin-bottom: 15%;
}

.programHolder .titleContentBorder {
	margin-top:5%;
}

.programTitle {
	margin-bottom: 3%;
    margin-top: 3%;
}

.programsForChildren {
	background:none;
	background-color:#d8323d;
}

.liveSmartSeminarHeader {
	font-size:17px;
}

.columnFooterInfoText {
    margin-bottom: 10px;
}

.hideForMobile {
	display : none;
}

.programsLiveSmartSeminars .titleContentHeader {
	margin-bottom: 3%;
}

.liveSmartSeminarColumn {
	padding:0;
}

.liveSmartSeminarColumn {
	margin-bottom:5%;
}

.programsByGurujiNaushir .titleContentHeader {
	margin-bottom: 3%;
}

.applyZeroPadding {
	padding:0;
}

.galleryImage img {
    width: 100%;
}

.bookImageContainer {
    padding-top: 6%;
    padding-bottom: 6%;
}

.bookDescription {
	margin-top: 5%;
}

.bookDescription .btn-primary, .bookDescription .btn-primary>a {
    margin-top: 5%;
    margin-bottom: 5%;
}

.mediaContainer iframe {
	margin-top: 3%;
    margin-bottom: 3%;
}

#mainContentMediaMenu .nav-pills>li>a,
#mainContentMediaMenu .nav-pills>li>a:hover {
	padding:0;
	color:#996a0e;
}

#mainContentMediaMenu ul {
	margin-top:20%;
}

#mainContentMediaMenu .nav-pills>li {
	background-color: transparent;
	float: left;
}

.videoHolder {
	padding:0;
}