.header {
	height : 15%;
}

.banner {
	height : 50%;
}

.hamburgerMenu {
	display : none;
}

#menuNavbar {
	display : none !important;
}

.menuOption {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #996a0e;
	cursor:pointer;
	font-size:13px;
	border-radius: 0 !important;
}

.menuOptionText:hover {
	color : #996a0e;
	text-decoration:none;
}

.menuOptionTextSelected {
	color : #996a0e;
}

.menuOptionTextSelected div:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100% !important;
	content: '';
	color: transparent;
	background: #996a0e;
	height: 1px;
}

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}

.menuOptionText div {
  position: relative;
  height: 35px;
  width: 80%;
}

.menuOptionText div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #996a0e;
  height: 1px;
}
  
.menuOptionText:hover div:after {
  width: 100%;
  color : #996a0e;
}

.contentColumn {
	width : 50%;
	height : 100%;
}

.column1 {
	left: 18%;
    top: 40%;
    text-align: center;
}

.column2 {
	top: 28%;
	width : 18%;
	display : none;
}

.column2 .contextText {
	text-align : left;
}

.column3 {
	left: 35%;
    top: 40%;
    text-align: center;
}

.column2 img {
	height: 41%;
}

.contentSmaller {
	font-size : 65px;
}

.flip-card {
	width: 100%;
}

.card-left {
	left : 0%;
}

.flip-card-inner {
	animation: flipBannerCard 18s infinite;
}

@keyframes flipBannerCard {
	0% {transform: rotateY(0deg);}
	10% {transform: rotateY(0deg);}
	30% {transform: rotateY(180deg);}
	60% {transform: rotateY(0deg);}
	80% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
}

.columnFooterInfo {
	text-align : center;
	padding: 2%;
    font-size: 14px;
}

.footerText img {
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.footerRow2 {
	padding-bottom:0;
}

.columnFooterMenu {
	padding: 0;
	text-align : center;
	font-size: 14px;
	margin-bottom: 2%;
}

.footerBand {
	font-size:9px;
}

.quoteImage {
	display : none;
}

.textRow {
	margin-top: 6%;
}

.titleContentHeader {
	margin-top:8%;
}

.titleContentBorder {
	margin-top:25%;
}

.quoteName ~ .row .titleContentBorder {
	margin-bottom : 25%;
}

.homeTadekamForYouBorder {
	margin-top:10%;
}

.photoNameRow {
	margin-top:3%;
}

.backgroundJourneySoFarAboutTadekam {
	padding-bottom:5%;
	margin-top:5%;
}

.teamTadekamBackground {
	padding-bottom:6%;
}

.homeGurujiQuote {
    padding-bottom: 5%;
}

.backgroundHolderHomeOurFounder {
	padding-bottom: 5%;
}

.backgroundHomeTadekamForYou {
    padding-bottom: 5%;
}

.backgroundHomePrograms {
	padding-bottom: 5%;
}

.namePhoto {
	width: 100%;
	margin-top:15%;
}

.homeProgramsImageHolder {
    padding: 0;
}

.homeProgramsImageHolder img {
    width: 70%;
}

.homeTadekamForYouTextRow ul li {
    font-size: 15px;
}

.programHolder {
    padding: 0;
    margin-bottom: 7%;
}

.programHolder .titleContentBorder {
	margin-top:5%;
}

.programTitle {
	margin-bottom: 3%;
    margin-top: 3%;
}

.programsForChildren {
	background:none;
	background-color:#d8323d;
}

.programShortDescription {
    margin-left: 4%;
    margin-right: 4%;
}

.liveSmartSeminarHeader {
	font-size:17px;
}

.columnFooterInfoText {
    margin-bottom: 10px;
}

.hideForTablet {
	display : none;
}

.programsLiveSmartSeminars .titleContentHeader {
	margin-bottom: 3%;
}

.liveSmartSeminarColumn {
	padding:0;
}

.liveSmartSeminarColumn {
	margin-bottom:5%;
}

.programsByGurujiNaushir .titleContentHeader {
	margin-bottom: 3%;
}

.applyZeroPadding {
	padding:0;
}

.galleryImage img {
    width: 100%;
}

.bookImageContainer {
    padding-top: 6%;
    padding-bottom: 6%;
}

.bookDescription {
	margin-top: 5%;
}

.bookDescription .btn-primary, .bookDescription .btn-primary>a {
    margin-top: 5%;
    margin-bottom: 5%;
}

.mediaContainer iframe {
	margin-top: 3%;
    margin-bottom: 3%;
}

#mainContentMediaMenu .nav-pills>li>a,
#mainContentMediaMenu .nav-pills>li>a:hover {
	padding:4px;
	color:#996a0e;
}

#mainContentMediaMenu ul {
	margin-top:20%;
}

#mainContentMediaMenu .nav-pills>li {
	background-color: transparent;
	float: left;
    width: 30%;
}

.videoHolder {
	padding:0;
}