.hamburgerMenu {
	display : none;
}

#menuNavbar {
	display : none !important;
}

.menuOption {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #996a0e;
	cursor:pointer;
	font-size:14px;
	border-radius: 0 !important;
}

.menuOptionText:hover {
	color : #996a0e;
	text-decoration:none;
}

.menuOptionTextSelected {
	color : #996a0e;
}

.menuOptionTextSelected div:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100% !important;
	content: '';
	color: transparent;
	background: #996a0e;
	height: 1px;
}

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}

.menuOptionText div {
  position: relative;
  height: 35px;
  width: 80%;
}

.menuOptionText div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #996a0e;
  height: 1px;
}
.menuOptionText:hover div:after {
  width: 100%;
  color : #996a0e;
}

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.banner {
	height:80%;
}

.contentColumn {
	width : 40%;
	height : 50%;
}

.column1 {
	left : 6%;
	top : 42%;
	text-align : right;
}

.column2 {
	left : 41%;
	top : 32%;
	text-align : center;
	width : 20%;
}

.column3 {
	left : 57%;
	top : 42%;
	text-align : left;
}

.column2 img {
	height: 70%;
 }

.contentSmaller {
	font-size : 120px;
}

.contentLeftToRight {
	animation: slideinSmallLeftToRight 4s ease-in;
}

.contentRightToLeft {
	animation: slideinSmallRightToLeft 4s ease-in;
}

.flip-card {
	width: 50%;
}

.card-left {
	left : 50%;
}

.columnFooterInfo {
	text-align : center;
}

.columnFooterMenu {
	margin-left: 2%;
    padding: 0;
    margin-right: 2%;
}

.footerRow2 {
	padding-left: 10%;
}

.namePhoto {
	width:70%;
}

.hideForDesktop {
	display : none;
}

.homeTadekamForYouTextRow ul li {
    font-size: 16px;
}

.columnFooterInfoText {
    border-right: 1px solid #996a0e;
}