.flatMenu {
	display : none;
}

.header {
	height : 15%;
}

.banner {
	height : 50%;
}

.hamburgerMenu {
	padding : 0;
	height: 100%;
}

.hamburgerButton {
	float : right;
	background-color: transparent;
	border: 0px;
	font-size: 20px;
	transition:all 0.2s ease-in-out;
}

.hamburgerButton > span {
	color : #996a0e;
}

.hideHamburgerButton {
	opacity : 0;
}

#menuNavbar {
	height : 100%;
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	background-color : #000000 !important;
	opacity:0.8;
	z-index:100;
	transition:all 0.6s ease-in;
	border:0px;
	min-height:0px;
}

.collapse {
	display:block !important;
	height:0;
	overflow-y:hidden;
}

.hamburgerMenuList {
	text-align:center;
	padding : 0;
	list-style: none;
	margin:0;
}

.menuOption {
	display : inline-block;
	text-align : center;
	height:auto;
	width:100%;
}

 .menuOptionText {
	display:inline;
}

.menuOptionText div {
	width: 100%;
}


.contentColumn {
	width : 50%;
	height : 100%;
}

.column1 {
	left: 8%;
    top: 40%;
    text-align: center;
}

.column2 {
	top: 28%;
	width : 18%;
	display : none;
}

.column2 .contextText {
	text-align : left;
}

.column3 {
	left: 40%;
    top: 40%;
    text-align: center;
}

.column2 img {
	height: 41%;
}

.contentSmaller {
	font-size : 65px;
}

.flip-card {
	width: 100%;
}

.card-left {
	left : 0%;
}

 .flip-card-inner {
	animation: flipBannerCard 18s infinite;
}

@keyframes flipBannerCard {
	0% {transform: rotateY(0deg);}
	10% {transform: rotateY(0deg);}
	30% {transform: rotateY(180deg);}
	60% {transform: rotateY(0deg);}
	80% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
}

.columnFooterInfo {
	text-align : center;
	padding: 2%;
    font-size: 14px;
}

.footerText .fa {
    font-size: 16px;
}

.columnFooterMenu {
	margin-left: 2%;
    padding: 0;
	margin-right: 2%;
	text-align : center;
    font-size: 14px;
}

.footerRow2 {
	padding-left: 10%;
}

.footerBand {
	font-size:11px;
}

.quoteImage {
	display : none;
}

.quoteName ~ .row .titleContentBorder {
	margin-bottom : 25%;
}

.namePhoto {
    width: 100%;
}

.homeProgramsImageHolder {
    padding: 0;
}

.homeTadekamForYouTextRow ul li {
    font-size: 15px;
}

.programHolder {
    padding: 0;
    margin-bottom: 15%;
}

.columnFooterInfoText {
    margin-bottom: 10px;
}

.hideForMobile {
	display : none;
}

.programsLiveSmartSeminars .titleContentHeader {
	margin-bottom: 3%;
}

.liveSmartSeminarColumn {
	padding:0;
}

.liveSmartSeminarColumn {
	margin-bottom:5%;
}

.programsByGurujiNaushir .titleContentHeader {
	margin-bottom: 3%;
}

.applyZeroPadding {
	padding:0;
}