.flatMenu {
	display : none;
}

.banner {
	height : 50%;
}

.hamburgerMenu {
	padding : 0;
}

.hamburgerButton {
	float : right;
}

#menuNavbar {
	/* width : 100%; */
	height : 100%;
	position: absolute;
	top:0;
	margin:0;
	padding:0;
	background-color : #000000 !important;
	opacity:0.8;
	z-index:100;
	transition:all 0.6s ease-in;
	border:0px;
	min-height:0px;
}

.collapse {
	display:block !important;
	height:0;
	overflow-y:hidden;
}

.hamburgerMenuList {
	text-align:center;
	padding : 0;
	list-style: none;
	margin:0;
}

.menuOption {
	/* display:table;
	text-align:center; */
	display : inline-block;
	text-align : center;
	height:auto;
	width:100%;
	/* padding : 0;
	border-radius: 0 !important; */
}

 .menuOptionText {
	display:inline;
	/* vertical-align:middle;
	border : 0;
	color : #996a0e;
	cursor:pointer;
	font-size:15px;
	border-radius: 0 !important; */
}

/* .menuOptionText:hover { 
	color : #996a0e;
	text-decoration:none;
}

.menuOptionTextSelected {
	color : #996a0e;
}

.menuOptionTextSelected div:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100% !important;
	content: '';
	color: transparent;
	background: #996a0e;
	height: 1px;
}

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}*/

.menuOptionText div {
	width: 100%;
}

/* .menuOptionText div:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '';
color: transparent;
background: #996a0e;
height: 1px;
}
.menuOptionText:hover div:after {
width: 100%;
color : #996a0e;
} */

.contentColumn {
	width : 50%;
	height : 100%;
}

.column1 {
	left: 8%;
    top: 40%;
    text-align: center;
	/* animation : none; */
}

.column2 {
	top: 28%;
	width : 18%;
	display : none;
}

.column2 .contextText {
	text-align : left;
}

.column3 {
	left: 40%;
    top: 40%;
    text-align: center;
}

.column2 img {
	height: 41%;
}

.contentSmaller {
	font-size : 65px;
}

.flip-card {
	width: 100%;
}

.card-left {
	left : 0%;
}

/* .flip-card-inner {
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	animation: flipBannerCard 24s infinite;
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.flip-card-front {
z-index: 2;
transform: rotateY(0deg);
}

.flip-card-back {
transform: rotateY(180deg);
z-index: 1;
}

@keyframes flipBannerCard {
	0% {transform: rotateY(0deg);}
	25% {transform: rotateY(0deg);}
	50% {transform: rotateY(180deg);}
	68% {transform: rotateY(0deg);}
	85% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
} */