@font-face {
  font-family: "fontPlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.otf");
}

@font-face {
	font-family: "fontAladdin";
	src: url("../fonts/Aladdin.ttf");
}

@font-face {
	font-family: "fontPoppins";
	src: url("../fonts/Poppins-Regular.otf");
}
  

body {
	font-family: "fontAladdin";
	overflow-x: hidden;
}

.container-fluid {
	padding : 0;
}

.header {
	height : 18%;
	margin : 0;
	font-family: "fontPoppins";
}

.logoHolder {
	height : 100%;
	text-align:center;
}

.logo {
	height : 95%;
	padding-top : 2.5%;
}

.flatMenu {
	display : inline-block;
}

.hamburgerMenu {
	display : inline-block;
}

.menuOption {
	display:table;
	text-align:center;
	height:100%;
	padding : 0;
	border-radius: 0 !important;
}

.menuOptionText {
	display:table-cell;
	vertical-align:middle;
	border : 0;
	color : #996a0e;
	cursor:pointer;
	font-size:15px;
	border-radius: 0 !important;
}

.menuOptionText:hover {
	color : #996a0e;
	text-decoration:none;
}

.menuOptionTextSelected {
	color : #996a0e;
}

.menuOptionTextSelected div:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100% !important;
	content: '';
	color: transparent;
	background: #996a0e;
	height: 1px;
}

.menuOptionText div,
.menuOptionText div:after,
.menuOptionText div:before {
	transition: all .75s;
}

.menuOptionText div {
  position: relative;
  height: 35px;
  width: 80%;
}

.menuOptionText div:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #996a0e;
  height: 1px;
}
.menuOptionText:hover div:after {
  width: 100%;
  color : #996a0e;
}

.mainContent {
	position:relative;
	width:100%;
	top:15%;
	padding : 0;
	margin:0;
	display:none;
	transition: all 1s ease-in-out;
}

.mainContentSelected {
	display:block;
}

.banner {
	overflow: hidden;
	width:100%;
	/*height:80%;*/
	text-align:center;
	position:relative;
	margin:0;
}

.bannerContent {
	/* width:100%; */
	height:100%;
	text-align:center;
	overflow: hidden;
}

.background {
	background: url("../images/banner-background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	animation: zoomin 15s ease-in infinite;
	transition: all .5s ease-in-out;
	z-index:10;
}

.foreground {
	background: none;
	z-index:11;
}

@keyframes zoomin {
	0% {transform: scale(1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

.contentHolder {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow : hidden;
	z-index:12;
	overflow:hidden;
}
.contentText {
	width : 100%;
}

.contentColumn {
	/* width : 40%; */
	position : absolute;
	/* height : 50%; */
	text-align : center;
	opacity : 1;
	/*animation: contentAppear 3s ease-in;*/
	transition: all .5s ease-in-out;
	margin : 0;
	overflow : hidden;
	color : #FFFFFF;
}

/* .column1 {
	left : 6%;
	top : 42%;
	text-align : right;
} */

/* .column2 {
	left : 41%;
	top : 32%;
	text-align : center;
	width : 20%;
}

.column3 {
	left : 57%;
	top : 42%;
	text-align : left;
} 

.column2 img {
	height: 70%;
 }*/

@keyframes contentAppear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.contentSmaller {
	right : 0;
	position : absolute;
	transition: right,rotateY .5s ease-in-out;
	/* font-size : 120px; */
}

/*.contentLeftToRight {
	animation: slideinSmallLeftToRight 4s ease-in;
}

.contentRightToLeft {
	animation: slideinSmallRightToLeft 4s ease-in;
}*/

@keyframes slideinSmallLeftToRight {
	0% {right: -100%;}
	100% {right: 0;}
}

@keyframes slideinSmallRightToLeft {
	0% {right: 100%;}
	100% {right: 0;}
}

.flip-card {
	background-color: transparent;
	/* width: 50%; */
	height: 100%;
	perspective: 1000px;
}

.card-left {
	position: relative;
	/* left : 50%; */
}
  
.flip-card-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  animation: flipBannerCard 24s infinite;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

@keyframes flipBannerCard {
	0% {transform: rotateY(0deg);}
	25% {transform: rotateY(0deg);}
	50% {transform: rotateY(180deg);}
	68% {transform: rotateY(0deg);}
	85% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
}

.footer {
	background-color : #f6e7ab;
	color : #996a0e;
	font-family : "fontPoppins";
	font-size : 16px;
	margin : 0;
}

.footerRow1 {
	border-bottom : 1px solid #996a0e;
	padding-top : 2%;
	padding-bottom : 2%;
	margin-bottom : 2%;
}

.footerRow2 {
	padding-top : 2%;
	padding-bottom : 2%;
}

.footerBand {
	background-color : #996a0e;
	color : #ffffff;
	text-align: center;
	font-family : "fontPoppins";
	font-size : 12px;
	line-height:50px;
	margin : 0;
}

.columnFooterMenu {
	cursor : pointer;
}

.footerMenuSelected {
	color : #FFFFFF;
}